---
const { content, url, alt } = Astro.props;
---

<article
  class="poster relative overflow-hidden rounded-lg w-[450px] shadow-xl shadow-[rgba(0,0,0,0.8)]"
>
  <picture class="">
    <img class="w-[450px] rounded-lg" src={url} alt={alt} />
  </picture>
  <span class="h-full w-full flex p-5 items-end text-center absolute top-0">
    {content}
  </span>
</article>

<script>
  const $poster = document.querySelectorAll(".poster");
  const arrPoster = Array.from($poster);

  for (const poster of arrPoster) {
    const height = $poster[0].clientHeight;
    const width = $poster[0].clientWidth;

    poster.addEventListener("mousemove", (event) => {
      const { layerX, layerY } = event;
      const yRotation = ((layerX - width / 2) / width) * 20;

      const xRotation = ((layerY - height / 2) / height) * 20;

      const string = `
  perspective(500px)
  scale(1.1)
  rotateX(${xRotation}deg)
  rotateY(${yRotation}deg)
  `;
      poster.style.transform = string;
    });

    poster.addEventListener("mouseout", () => {
      const string = `
  perspective(500px)
  scale(1)
  rotateX(0)
  rotateY(0)
  `;
      poster.style.transform = string;
    });
  }
</script>

<style>
  span {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }
</style>
